@import '~bootstrap/scss/mixins/_breakpoints';
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';

$platinum: #e9e5e0;
$platinum-80: #edeae6;
$davys-gray: #242323;
$spanish-gray: #9e9e9e;
$dark-black: #000;

body {
  background: $dark-black;
}

.grey {
  color: $spanish-gray;
}

a {
  color: $platinum-80 !important;
}

h1 {
  line-height: 1.5;
  font-weight: bold;

  @include media-breakpoint-up(md) {
    font-size: 48px;
    line-height: 1.21;
  }
  @include media-breakpoint-down(md) {
    font-size: 32px;
    line-height: 1.21;
  }
}

h2 {
  line-height: 1.5;

  @include media-breakpoint-up(md) {
    font-size: 40px;
    line-height: 1.35;
  }

  @include media-breakpoint-down(md) {
    font-size: 28px;
    line-height: 1.21;
  }
}

h3 {
  line-height: 1.5;

  @include media-breakpoint-up(md) {
    font-size: 34px;
    line-height: 1.35;
  }
  @include media-breakpoint-down(md) {
    font-size: 24px;
    line-height: 1.21;
  }
}


h4 {
  line-height: 1.5;

  @include media-breakpoint-up(md) {
    font-size: 22px;
    line-height: 1.43;
  }
}

h5 {
  line-height: 1.5;

  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 1.43;
  }
  @include media-breakpoint-down(md) {
    font-size: 14px;
    line-height: 1.43;
  }
}
