<template>
  <BaseShowDetails/>
</template>

<script>
import BaseShowDetails from '../components/BaseShowDetails';

export default {
  name: 'Details',
  components: { BaseShowDetails },
};
</script>

