<template>
  <div>
    <div v-if="isLoading" class="text-center">
      <b-spinner></b-spinner>
    </div>
    <div v-for="genre in getGenres" :key="genre" v-else>
      <BaseShowsList :shows="getShows(genre)" :genre="genre" class="mt-lg-5 mb-lg-5"/>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex';
import BaseShowsList from '../components/BaseShowsList';

export default {
  name: 'Home',
  data() {
    return {
      isLoading: true,
    };
  },
  components: { BaseShowsList },
  computed: {
    ...mapGetters({
      getShows: 'shows/getShows',
      getGenres: 'shows/getGenres',
    }),
  },
  methods: {
    ...mapActions(
      'shows', ['getAllShows'],
    ),
  },
  async mounted() {
    /* eslint no-empty: ["error", { "allowEmptyCatch": true }] */
    try {
      this.isLoading = true;
      await this.getAllShows();
    } catch (error) {
    } finally {
      this.isLoading = false;
    }
  },
};
</script>
