<template>
  <BaseSearchResults />
</template>

<script>
import BaseSearchResults from '../components/BaseSearchResults';

export default {
  name: 'Search',
  components: { BaseSearchResults },
};
</script>


<style lang="scss" scoped>
@import "@/assets/scss/global.scss";
</style>
