/* eslint-disable */
<template>
  <div>
    <div class="show-search-bar">
      <b-form-input
        v-model="searchQuery"
        class="d-inline w-auto"
        type="text"
        placeholder="Search by Name"
        @keyup.enter.native="onSubmit()"
      ></b-form-input>
      <a class="d-inline show-search-bar_icon" @click.prevent="onSubmit()">
        <font-awesome-icon icon="search"  />
      </a>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
/* eslint-disable */
export default {
  name: 'BaseSearchInput',
  data() {
    return {
      searchQuery: '',
    }
  },
  methods: {
    ...mapActions(
      'shows', ['searchShowsByName']
    ),
    onSubmit() {
      if (this.searchQuery.length > 0) {
        this.$router.push({ path: '/search', query: { name: this.searchQuery }}).catch(()=>{})
      }
    }
  }
};
</script>

<style lang="scss" scoped>
  .show-search-bar {
    input {
      background: none;
    }
  }
  .show-search-bar_icon {
    padding: 5px;
    &:hover {
      cursor: pointer;
    }
  }
</style>
