<template>
  <div class="bc-p-12 bg-soft rounded">
    <b-img-lazy v-if="url" :src="url" :alt="title" fluid />
  </div>
</template>
<script>
export default {
  name: 'BaseCover',
  props: {
    url: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
  },
};
</script>

