<template>
  <div>
    <h2 class="text-left mt-5 mb-5 font-weight-bold">Search results</h2>
    <div v-if="showsSearch">
      <b-row>
        <b-col v-for="show in showsSearch" :key="show.id" cols="6" md="4" lg="3" class="mb-5">
          <BaseShowCard v-if="show.image" :cover="show.image && show.image.medium"
                        :name="show.name" :genres="show.genres"
                        :show-id="show.id" :run-time="show.runtime"
                        :rating="show.rating.average" :href="`/show/${show.id}`"/>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import BaseShowCard from './BaseShowCard';

export default {
  name: 'BaseSearchResults',
  components: {
    BaseShowCard,
  },
  watch: {
    $route() {
      this.searchShowsByName(this.searchQuery);
    },
  },
  computed: {
    ...mapGetters({
      showsSearch: 'shows/showsSearch',
    }),
    searchQuery() {
      return this.$route.query.name;
    },
  },
  methods: {
    ...mapActions(
      'shows', ['searchShowsByName'],
    ),
  },
  async mounted() {
    try {
      this.isLoading = true;
      await this.searchShowsByName(this.searchQuery);
      // eslint-disable-next-line no-empty
    } catch (error) {
    } finally {
      this.isLoading = false;
    }
  },
};
</script>
