<template>
  <b-container>
    <a v-if="!isCarousel" :href="`/show/${showId}`">
      <BaseCover :url="cover" />
    </a>
    <BaseCover v-else :url="cover" />
    <b-row>
      <b-col class="text-left mt-1 mb-1 mt-md-2 mb-md-2 mt-lg-3 mb-lg-3" cols="12">
        <a class="show-title" :href="`/show/${showId}`">{{ name }}</a>
      </b-col>
      <b-col v-if="runTime" class="runtime text-left grey" cols="6">{{ runTime }} min</b-col>
      <b-col v-if="rating" class="rating text-right grey" cols="6">{{ rating }}
        <font-awesome-icon icon="star" />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import BaseCover from './BaseCover';

export default {
  name: 'BaseShowCard',
  components: {
    BaseCover,
  },
  props: {
    showId: {
      type: Number,
      required: true,
    },
    cover: {
      type: String,
      default: '',
    },
    name: {
      type: String,
      required: true,
    },
    runTime: {
      type: Number,
      default: null,
    },
    rating: {
      type: Number,
      default: null,
    },
    isCarousel: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/global.scss";

.show-title {
  min-height: 50px;
}

.show-cover {
  cursor: pointer;
}

</style>
