<template>
  <b-container class="mb-5">
    <h2 class="text-left mt-5 mb-5 font-weight-bold">{{ genre }}</h2>
    <div v-if="!shows.length">No shows available</div>
    <div v-else>
      <carousel
        :per-page-custom="[[320, 2], [768, 4], [992, 6], [1199, 6]]"
        :pagination-enabled="false"
        :navigation-enabled="true"
        :navigation-prev-label="''"
        :navigation-next-label="''"
        :touchDrag="true"
      >
        <slide v-for="show in shows" v-bind:key="show.id"
               :data-id="show.id" @slideclick="handleSlideClick"
               class="show-carousel_slide">
          <BaseShowCard :cover="show.image.medium"
                        :name="show.name"
                        :genres="show.genres"
                        :show-id="show.id" :run-time="show.runtime"
                        :rating="show.rating.average" :is-carousel="true"/>
        </slide>
      </carousel>
    </div>
  </b-container>
</template>

<script>
/* eslint-disable max-len */
import BaseShowCard from './BaseShowCard';

export default {
  name: 'BaseShowsList',
  components: {
    BaseShowCard,
  },
  props: {
    shows: {
      type: Array,
      default() {
        return [];
      },
    },
    genre: {
      type: String,
      default: '',
    },
  },
  methods: {
    handleSlideClick(dataset) {
      this.$router.push({ path: `/show/${dataset.id}` }).catch(() => {});
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/scss/global.scss";
/* eslint-disable */
.show-carousel_slide {
  &:hover {
    cursor: pointer;
  }
}

.VueCarousel-navigation-button {
  width: 100px;
  height: 100%;
  &:hover {
    border: 1px solid rgba(255, 255, 255, .1);
  }
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.VueCarousel-navigation-next {
  margin-left: -18px !important;
  background:  url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20id%3D%22a%22%20d%3D%22M19.807%204.954a.655.655%200%200%201-.064.053L15.84%208.805a.672.672%200%200%201-.64.174.651.651%200%200%201-.47-.458.63.63%200%200%201%20.177-.623l2.832-2.756H.673a.664.664%200%200%201-.582-.317.627.627%200%200%201%200-.65c.12-.2.343-.322.582-.317H17.74l-2.832-2.756A.63.63%200%200%201%2014.73.48.651.651%200%200%201%2015.2.02a.672.672%200%200%201%20.641.174l3.898%203.793a.632.632%200%200%201%20.07.966z%22%2F%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20transform%3D%22translate%282%207.5%29%22%3E%0A%20%20%20%20%20%20%20%20%3Cmask%20id%3D%22b%22%20fill%3D%22%23fff%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%22%23a%22%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2Fmask%3E%0A%20%20%20%20%20%20%20%20%3Cg%20fill%3D%22%23555%22%20fill-rule%3D%22nonzero%22%20mask%3D%22url%28%23b%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M-2-7h24v24H-2z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A') no-repeat 50%;
  background-size: 32px;
}

.VueCarousel-navigation-prev {
  margin-right: -18px !important;
  background:  url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20id%3D%22a%22%20d%3D%22M.193%204.046a.655.655%200%200%201%20.064-.053L4.16.195A.672.672%200%200%201%204.8.02c.23.059.41.234.47.458a.63.63%200%200%201-.177.623L2.26%203.858h17.066a.664.664%200%200%201%20.582.317c.121.2.121.45%200%20.65a.664.664%200%200%201-.582.317H2.26l2.832%202.756c.17.161.238.4.178.623a.651.651%200%200%201-.47.458.672.672%200%200%201-.641-.174L.262%205.012a.632.632%200%200%201-.07-.966z%22%2F%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20transform%3D%22translate%282%207.5%29%22%3E%0A%20%20%20%20%20%20%20%20%3Cmask%20id%3D%22b%22%20fill%3D%22%23fff%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%22%23a%22%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2Fmask%3E%0A%20%20%20%20%20%20%20%20%3Cg%20fill%3D%22%23555%22%20fill-rule%3D%22nonzero%22%20mask%3D%22url%28%23b%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M-2-7h24v24H-2z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A') no-repeat 50%;
  background-size: 32px;
}
</style>
