<template>
  <section>
    <b-container>
      <div v-if="isLoading" class="text-center">
        <b-spinner></b-spinner>
      </div>
      <b-row v-else-if="selectedShow" class="justify-content-center">
        <b-col cols="12" lg="4" md="4">
          <BaseCover
            class="show-cover mt-0 mt-md-0 mt-lg-0"
            :url="selectedShow.image && selectedShow.image.original"
          />
        </b-col>
        <b-col cols="12" lg="8" md="8">
            <h1 v-if="selectedShow.name"
                class="text-left mt-5 mb-0 mt-md-0 mb-md-0 mt-lg-0 mb-lg-0">
              {{selectedShow.name}}
              <span v-if="selectedShow.rating"
                    class="show-rating text-left">
                {{selectedShow.rating.average}}
              <font-awesome-icon icon="star" />
            </span>
            </h1>

          <div v-if="selectedShow.schedule" class="title text-left">
            <span v-if="selectedShow.schedule.days"
                  v-for="day in selectedShow.schedule.days"
                  v-bind:key="day">
              {{day}}
            </span>
            - {{selectedShow.schedule.time}}
          </div>
            <h4 class="text-left mt-5 mb-3">Storyline</h4>
            <div class="d-flex grey">
              <div class="summary flex-column w-75 text-left" v-html="selectedShow.summary"></div>
              <div class="summary flex-column w-25">
                <div v-if="selectedShow.genres && selectedShow.genres.length > 0"
                     class="text-uppercase">
                  <div v-for="genre in selectedShow.genres" :key="genre.index"
                       class="text-right mb-3">
                    {{genre}}
                  </div>
                </div>
              </div>
            </div>
            <div class="w-75">
              <h4 class="text-left mb-3">Details</h4>
              <div class="d-flex border-bottom grey pt-3 pb-3 pt-sm-2 pb-sm-2">
                <h5 class="flex-column text-uppercase text-left w-50">Runtime</h5>
                <div v-if="selectedShow.runtime"
                     class="flex-column text-right w-50">{{selectedShow.runtime}}</div>
              </div>
              <div class="d-flex border-bottom grey pt-3 pb-3 pt-sm-2 pb-sm-2">
                <h5
                  class="flex-column text-uppercase text-left w-50 align-items-center">
                  Language</h5>
                <div v-if="selectedShow.runtime"
                     class="flex-column text-right w-50 align-items-center align-items-center">
                  {{selectedShow.language}}</div>
              </div>
              <div class="d-flex border-bottom grey pt-3 pb-3 pt-sm-2 pb-sm-2">
                <h5 class="flex-column text-uppercase text-left w-50">Release Date</h5>
                <div v-if="selectedShow.runtime" class="flex-column text-right w-50">
                  {{selectedShow.premiered}}</div>
              </div>
            </div>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>
<script>
import { mapActions, mapGetters } from 'vuex';
import BaseCover from './BaseCover';

export default {
  name: 'BaseShowDetails',
  data() {
    return {
      isLoading: true,
    };
  },
  components: {
    BaseCover,
  },
  computed: {
    ...mapGetters({
      selectedShow: 'shows/selectedShow',
    }),
    id() {
      return this.$route.params.id;
    },
  },
  methods: {
    ...mapActions(
      'shows', ['getShowDetails'],
    ),
  },
  async mounted() {
    try {
      this.isLoading = true;
      await this.getShowDetails(this.id);
      // eslint-disable-next-line no-empty
    } catch (error) {
    } finally {
      this.isLoading = false;
    }
  },
};
</script>
<style lang="scss" scoped>
@import "@/assets/scss/global.scss";
@import '~bootstrap/scss/mixins/_breakpoints';

h5 {
  margin-bottom: 0;
}

.border-bottom {
  border-color: $davys-gray !important;
}

.show-cover {
  @include media-breakpoint-down(sm) {
    margin: 0 auto;
    width: 75%;
  }
}

.show-rating {
  font-size: 12px;
}
</style>

