<template>
  <div id="app">
    <b-container>
      <header class="header pt-4 pb-5 mb-5">
        <nav class="float-left">
          <a href="/" class="mr-2 mr-md-4 mr-lg-5 text-uppercase">All Movies</a>
        </nav>
        <BaseSearchInput class="float-right"/>
      </header>
      <router-view/>
    </b-container>
  </div>
</template>

<script>
import BaseSearchInput from './components/BaseSearchInput';

export default {
  name: 'App',
  components: { BaseSearchInput },
};
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import "@/assets/scss/global.scss";

#app {
  font-family: 'Merienda', Helvetica, Arial, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}
</style>
